<a href="https://colab.research.google.com/github/guerlBlanchard/DBCourse/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connection To the Database

In [25]:
from sqlalchemy import create_engine
from sqlalchemy import text

my_conn = create_engine("sqlite:////content/my_db.db")

Table creation

In [26]:
file = open('ITS - create.sql')
sql_instructions = file.read()

for single_instruction in sql_instructions.split(';'):
  single_instruction += ';'
  my_conn.execute(text(single_instruction))

Data insertion

In [27]:
file = open('ITS - insert.sql')
sql_instructions = file.read()

for single_instruction in sql_instructions.split(';'):
  single_instruction += ';'
  my_conn.execute(text(single_instruction))

Display

In [29]:
r_set = my_conn.execute('''SELECT * from Maintenance''')
for row in r_set:
  print(row)

(2, 'M', 12000, 'Basic description text', '2022-01-01', '2', 0)

In [28]:
r_set = my_conn.execute('''SELECT * from vehicule''')
for row in r_set:
  print(row)

('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1)
('V1001', '2006 AFD', 'Volvo', 'XC90 SE', 'Grey', 4350, 4, 0)

In [30]:
r_set = my_conn.execute('''SELECT * from Language''')
for row in r_set:
  print(row)

('FR', 'french')
('KR', 'Korean')

In [31]:
r_set = my_conn.execute('''SELECT * from Country''')
for row in r_set:
  print(row)

(1, 'France')
(2, 'Korea')

In [32]:
r_set = my_conn.execute('''SELECT * from Booking''')
for row in r_set:
  print(row)

(1, 4000, 4350, '2022-01-02 10:10:10', '2022-01-02 11:11:11', 1, 1, 1, '1', 1)